*{
    padding: 0px;
    margin: 0px;
}

/* GRID */

  /* Grid Content */
  .content-grid {
    display: grid;
    gap: 10px;
  }
  
 


  .grid-container {
    display: grid;
    grid-template-columns: 200px 300px; /* First column 200px, second column 300px */

    
  }
  
  .grid-item-1 {
    padding:10px;
    text-align: center;  
  }
  
  .grid-item-2 {
    padding:10px;
    text-align: left;  
  }
  
  /* Mobile First - 1 column for all rows */
  .row-1, .row-2, .row-3, .row-4 {
    display: grid;
   
    
   
  }
  
  /* Desktop View */
  @media screen and (min-width: 768px) {
  
    /* 1 column, 1 row (remains the same) */
    .row-1 {
        grid-template-columns: 1fr;
       
    }
  
    /* 2 columns, 1 row */
    .row-2 {
        grid-template-columns: 1fr 1fr;
        
        
    }
  
    /* 3 columns, 1 row */
    .row-3 {
        grid-template-columns: 1fr 1fr 1fr;
       
    }
  
    /* 4 columns, 1 row */
    .row-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }
  
    /* 5 columns, 1 row */
    .row-5 {
      grid-template-columns: 1fr 2fr 1fr 1fr;
     
  }

      /*6 columns, 1 row */
      .row-6 {
        grid-template-columns: 1fr 3fr 1fr;
       
    }

        /*6 columns, 1 row */
        .row-7 {
          grid-template-columns: 1fr 2fr 2fr 1fr;
         
      }

       /*6 columns, 1 row */
       .row-8 {
        grid-template-columns: 2fr 2fr;
       
    }
 /*6 columns, 1 row */
 .row-9 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 
}

  }
  
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  
  .bg-x{
    background-color:#3B1E54;
    border-radius:50px;
  }

  .bg-11{
    background-color:#3B1E54;
  }

  .bg-1-next{
    background-image: linear-gradient(to right top, #1f1c2c, #4f475c, #85778f, #c0aac6, #ffe1ff);
  }

  
  .bg-2{
    background-color:#7E60BF;
  }

  .bg-2-next{
    background-image: linear-gradient(to right top, #f1eff6, #d4cae9, #b7a6dc, #9a83ce, #7e60bf);
}


.bg-3{
    background-color:#E4B1F0;
  }

  .bg-3-next{
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}

.bg-4{
    background-color:#FFE1FF;
  }

/* Text */


.heading-ten
{
  font-family: "Poppins", sans-serif;
  color:#fffdfa;
  font-size:15px;
  text-align: left;
  padding-top: 70px;
  margin:15px;

}
.heading-eleven
{
  font-family: poppins-bold;
  color:#fffdfa;
  font-size:35px;
  text-align:left;
  padding-top: 10px;
  margin:10px;

}
.heading-twelve
{
  font-family: "Poppins", sans-serif;
  color:#fffdfa;
  font-size:80px;
  text-align: center;
  padding-top: 10px;
  margin:10px;

}
.heading-thirteen
{
  font-family: "Poppins", sans-serif;
  color:#fffdfa;
  /* font-size:25px; */
  text-align: center;
  padding-top: 10px;
  margin:10px;

}

.heading-fourteen
{
  font-family: "Poppins", sans-serif;
  color:#fffdfa;
  font-size:40px;
  text-align: center;
  padding-top: 10px;
  margin:10px;

}

.heading-fifteen
{
  font-family: "Great Vibes", cursive;
  color:#E2725B;
  font-size:35px;
  text-align: center;
  padding-top: 10px;
  margin:10px;
  text-shadow: 
  -1px -1px 0 #000,  /* Top-left border */
  1px -1px 0 #000,   /* Top-right border */
  -1px 1px 0 #000,   /* Bottom-left border */
  1px 1px 0 #000;    /* Bottom-right border */

}

.heading-sixteen
{
  font-family: "Great Vibes", cursive;
  color:#E2725B;
  font-size:30px;
  text-align: center;
  padding-top: 10px;
  margin:10px;
  text-shadow: 
  -1px -1px 0 #000,  /* Top-left border */
  1px -1px 0 #000,   /* Top-right border */
  -1px 1px 0 #000,   /* Bottom-left border */
  1px 1px 0 #000;    /* Bottom-right border */

}

.heading-seventeen
{
  font-family: "Great Vibes", cursive;
  color:#FAE4C6;
  font-size:50px;
  text-align: center;
  padding-top: 10px;
  margin:10px;
  text-shadow: 
  -1px -1px 0 #000,  /* Top-left border */
  1px -1px 0 #000,   /* Top-right border */
  -1px 1px 0 #000,   /* Bottom-left border */
  1px 1px 0 #000;    /* Bottom-right border */

}
.heading-eighteen
{
  font-family: "Great Vibes", cursive;
  color:#FAE4C6;
  font-size:40px;
  text-align: center;
  padding-top: 10px;
  margin:10px;
  text-shadow: 
  -1px -1px 0 #000,  /* Top-left border */
  1px -1px 0 #000,   /* Top-right border */
  -1px 1px 0 #000,   /* Bottom-left border */
  1px 1px 0 #000;    /* Bottom-right border */


}
.max {
  width: 100%;
  height: auto;
  
 /* Combined animation */
 animation: zoomRotate 4s ease-in-out infinite;
}

/* Keyframes for zoom + rotate */
@keyframes zoomRotate {
  0% {
    transform: scale(0.5) rotate(-5deg) ;     /* small + rotate left */
  }
  50% {
    transform: scale(1) rotate(70deg);   /* big + rotate right */
  }
  100% {
    transform: scale(1.5) rotate(-5deg);     /* back to left */
  }
}

.max-2 {
  width: 100%;
  height: auto;
  
 /* Combined animation */
 animation: zoomRotate 4s ease-in-out infinite;
}

/* Keyframes for zoom + rotate */
@keyframes zoomRotate {
  0% {
    transform: scale(0.5) rotate(5deg) ;     /* small + rotate left */
  }
  50% {
    transform: scale(1) rotate(70deg);   /* big + rotate right */
  }
  100% {
    transform: scale(1.5) rotate(5deg);     /* back to left */
  }
}
.heading-nineteen
{
  font-family: "Poppins", sans-serif;
  color:#fffdfa;
  font-size:25px;
  text-align: left;
  padding-top: 70px;
  margin:15px;
  text-shadow: 
  -1px -1px 0 #000,  /* Top-left border */
  1px -1px 0 #000,   /* Top-right border */
  -1px 1px 0 #000,   /* Bottom-left border */
  1px 1px 0 #000;    /* Bottom-right border */

}
.paragraph-one
{
  font-family: "Great Vibes", cursive;
  color:#000000;
  font-size:25px;
  text-align: left;
  margin:15px;

}


.paragraph-two
{
  font-family: "Poppins", sans-serif;
  color:#000000;
  font-size:14px;
  text-align: left;
  margin:15px;

}

.paragraph-three
{
  font-family: "Great Vibes", cursive;
  color:#ffffff;
  font-size:25px;
  text-align: left;
  margin:15px;

}

/* Theme colors  */

/* Bluebell  */
.bg-101{

    background-color:#a2a2d0;
  }
/* Sweet Creem  */
  .bg-102{
    background-color:#FAE4C6;
  }
/* Lilac  */
  .bg-103{
    background-color:#C8A2C8;
  }
  /* terra cotta */
  .bg-104{
    background-color:#E2725B;
  }

   /* Grape Fizz */
   .bg-105{
    background-color: #86527D;
  }


 


/* Fonts */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.text-zi {
  z-index: 1;              /* In front */
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 0 3px 10px rgba(0,0,0,0.6);
}
/* Shapes CSS */

/* 
https://bennettfeely.com/clippy/

https://css-shape.com/ */
.trapozide{
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.rombos{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.rectangle{
  clip-path: polygon(0 3%, 100% 14%, 100% 58%, 0 84%);
}

.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --s: 1.8em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: 0 var(--c) var(--d) calc(var(--s) + .5em);
  line-height: 1.8;
  background: conic-gradient(at left  var(--s) bottom var(--d),#0000 25%,#0008 0 37.5%,#0004 0);
  clip-path: polygon(calc(100% - var(--c)) 0,  var(--s) 0,var(--s) var(--d),0 var(--d),var(--c) calc(50% + var(--d)/2),0 100%,calc(var(--s) + var(--d)) 100%,calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(100% - var(--c)) calc(100% - var(--d)),100% calc(50% - var(--d)/2));
  background-color: #7E60BF; /* the main color */
  width: fit-content;
}


/* HTML: <div class="ribbon">Your text content</div> */
.ribbon-2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.ribbon-2 {
  --s: 1.8em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: 0 var(--c) var(--d) calc(var(--s) + .5em);
  line-height: 1.8;
  background: conic-gradient(at left  var(--s) bottom var(--d),#0000 25%,#0008 0 37.5%,#0004 0);
  clip-path: polygon(calc(100% - var(--c)) 0,  var(--s) 0,var(--s) var(--d),0 var(--d),var(--c) calc(50% + var(--d)/2),0 100%,calc(var(--s) + var(--d)) 100%,calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(100% - var(--c)) calc(100% - var(--d)),100% calc(50% - var(--d)/2));
  background-color: #BD1550; /* the main color */
  width: fit-content;
}

.left-point{
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

}

.dimond-1{
  clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 50% 100%, 0% 25%);
 }


 /* HTML: <div class="rhombus"></div> */
.rhombus {
  height: 200px; /* adjust to control the size  */
  aspect-ratio: 1;
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  background: #88A65E;
  
}

.polygon{
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/* animation image */
.image-box {
  width: 300px;
  margin: 40px auto;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: auto;
  
  /* Combined animation */
  animation: zoomRotate 4s ease-in-out infinite;
}

/* Keyframes for zoom + rotate */
@keyframes zoomRotate {
  0% {
    transform: scale(0.5) rotate(-5deg) ;     /* small + rotate left */
  }
  50% {
    transform: scale(1) rotate(10deg);   /* big + rotate right */
  }
  100% {
    transform: scale(0.5) rotate(-5deg);     /* back to left */
  }
}
 /* button */

 
.button11 {
  background-color:#7E60BF;
  color: rgb(255, 254, 254);
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: 2px solid #f2f5df;
}

.button11:hover {
  background-color:#f3f1ee;
  color: rgb(6, 0, 0);
  border: 2px solid #000000;
  transition-duration: 1s;
}


/* Image fame set */
.img-sty-1{
  width:100%;
  height:auto;
}
.img-sty-2{
  width:50%;
  height:auto;
  /* border-radius: 20px;
  border-color: #E2725B;
  box-shadow: #1f1c2c;
  box-sizing: 10px;
  border-style: double */
}
.opc{
  opacity:0.6;
}
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

/* HR */

.hr-1{
  border: 1px solid #E4B1F0;
}


.vl {
  border-left: 6px solid green;
  height: 100px;
}



.cursor {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: transform 0.12s;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
}

.box {
  display: grid;
  place-items: center;     /* Center text */
  width: 100%;
  height: 800px;
  position: relative;      /* Needed for z-index layering */
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height:auto;
  object-fit: cover;
  z-index: 0;              /* Behind text */
  opacity: 0.8;
}

/* Video background */
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.55); /* Darken for good text visibility */
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 2; /* Above video */
}

/* Caption text */
.text {
  font-family: "Great Vibes", cursive;
  font-weight: bolder;
  color: #E2725B;
  font-size: 100px;
  padding-top:10px;
  padding-bottom:.10px;
  position: absolute;
  bottom:50px;
  width: 100%;
  text-align: center;
  text-shadow: 
  -1px -1px 0 #000,  /* Top-left border */
  1px -1px 0 #000,   /* Top-right border */
  -1px 1px 0 #000,   /* Bottom-left border */
  1px 1px 0 #000;    /* Bottom-right border */
  
}

/* Number text */
.numbertext {
  color: #fe0303;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #E2725B;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active { background-color: #a2a2d0; }

/* Fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Responsive */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}