
/* Bluebell  */
.bg-101{

    background-color:#a2a2d0;
  }
/* Sweet Creem  */
  .bg-102{
    background-color:#FAE4C6;
  }
/* Lilac  */
  .bg-103{
    background-color:#C8A2C8;
  }
  /* terra cotta */
  .bg-104{
    background-color:#E2725B;
  }

   /* Grape Fizz */
   .bg-105{
    background-color: #86527D;
  }
